.container__big-card{
  border: solid white 2px;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__titl > h1{
  font-size: 20px;
  margin-top: 15px;
}

.big-card__description >p {
  margin-top: 10px;
  color: gray;
}

.big-card__photo{
  width: 396px;
}

.big-card__photo > img{
  width: 100%;
}
